body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  background: linear-gradient(180deg, #6F6F7A 0%, #FFFFFF 47.92%);
  background-repeat: no-repeat;
}

/* TOP NAVIGATION */
.top-nav {
  width: 100%;
  height: 61px;
  background-color: #fff;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.top-nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

.nav-left .logo {
  margin: 0 8px 0 10px;
  position: relative;
}

.nav-left .logo img:nth-of-type(2) {
  position: absolute;
  top: 7px;
  left: 11px;
}

.nav-left form.search {
  width: 281px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-left input.search {
  width: 100%;
  height: 100%;
  background: #F1F2F5;
  border-radius: 100px;
  border-style: none;
  padding-left: 36px;
  font-weight: 400;
  font-size: 15px;
}

.nav-left form.search::after {
  position: absolute;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: url(assets/search-svgrepo-com.svg) no-repeat 0 0;
  left: 5%;
  bottom: 12px;
}

.nav-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  margin: 0 15px;
}
.nav-middle img {
  padding: 5px;
  margin: 0 15px;
}
.nav-middle div {
  position: relative;
  display: block;
}
.nav-middle div.screen::after {
  display: block;
  content: "6";
  position: absolute;
  right: 10px;
  top: -2px;
  background-color: red;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  color: white;
}
.nav-middle div.people::after {
  display: block;
  content: "1";
  position: absolute;
  right: 10px;
  top: -2px;
  background-color: red;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  color: white;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 270px;
}

.nav-right .account {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-right .account .name {
  font-weight: 500;
  font-size: 15px;
  margin: 0;
  color: #080808;
}
.nav-right .account .prof-picture img {
  border-radius: 50%;
}

.nav-right .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
  margin: 0 15px;
}

.nav-right .buttons div.first, .nav-right .buttons div.second, .nav-right .buttons div.third, .nav-right .buttons div.fourth {
  position: relative;
}

.nav-right .buttons div img:nth-of-type(1) {
  position: absolute;
  top: 12px;
  left: 12px;
}

.nav-right .buttons div.fourth img:nth-of-type(1) {
  position: absolute;
  top: 16px;
  left: 14px;
}

.nav-right .buttons div.third::after {
  display: block;
  content: "5";
  position: absolute;
  right: -4px;
  top: -3px;
  background-color: red;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  color: white;
}

/* PROFILE SECTION */
#prof-section {
  width: 877px;
  margin: 0 auto;
  background: #fff;
  padding-bottom: 10px;
}

.prof-section--banner {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.prof-section--banner img {
  border-radius: 5px;
}

.user-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-space .user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-space .prof-picture img {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  margin-bottom: 13px;
  margin-top: -10px;
}

.user-space .blue-btn {
  width: 312px;
  height: 40px;
  background: #0572EF;
  border-radius: 6px;
  align-self: flex-end;
  margin-bottom: 28px;
}

.user-space .user-name {
  margin-left: 28px;
}

.user-space .user-name h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin: 0;
  color: #080808;
}

.user-space .user-name p {
  font-weight: 400;
  font-size: 17px;
  color: #66676B;
  margin: 0;
}

.mid-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
}
.mid-nav .nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.mid-nav .nav a {
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
  color: #66676B;
}
.mid-nav .nav .more {
  font-weight: 500;
  font-size: 15px;
  color: #66676B;
}
.mid-nav .soc-btns {
  width: auto;
  height: 36px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  font-weight: 500;
  font-size: 15px;
}
.mid-nav .soc-btns .liked {
  width: 110px;
  padding-left: 25px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E9F3FE;
  border-radius: 6px;
}
.mid-nav .soc-btns .liked::after {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(assets/like-svgrepo-com.svg) no-repeat 0 0;
  left: 22px;
  bottom: 8px;
}
.mid-nav .soc-btns .message {
  width: 110px;
  padding-left: 25px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E9F3FE;
  border-radius: 6px;
}
.mid-nav .soc-btns .message::after {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(assets/message-2.svg) no-repeat 0 0;
  left: 10px;
  bottom: 6px;
}
.mid-nav .soc-btns .search {
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E9F3FE;
  border-radius: 6px;
}
.mid-nav .soc-btns .search img {
  width: 15px;
  height: 15px;
}
.mid-nav .soc-btns .more {
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E9F3FE;
  border-radius: 6px;
}

.posts-wrapper {
  width: 877px;
  margin: 0 auto;
  display: flex;
  background: #A25757;
  padding-top: 10px;
}
.posts-wrapper .left-posts {
  height: 100%;
  width: 45%;
}
.posts-wrapper .right-posts {
  height: 100%;
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.posts-wrapper .right-posts .create-post-block {
  width: 100%;
  height: 113px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 10px;
  box-sizing: border-box;
}
.posts-wrapper .right-posts .create-post-block .block-head {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.posts-wrapper .right-posts .create-post-block .block-head img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.posts-wrapper .right-posts .create-post-block .block-head button {
  width: 424px;
  height: 41px;
  background: #E5E6EB;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.posts-wrapper .right-posts .create-post-block .block-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.posts-wrapper .right-posts .post-block {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.posts-wrapper .right-posts .post-block .block-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.posts-wrapper .right-posts .post-block .block-head .autor-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.posts-wrapper .right-posts .post-block .block-head .autor-info .user-name-wrap .user-name {
  font-weight: 500;
  font-size: 16px;
  color: #080808;
  margin: 0;
}
.posts-wrapper .right-posts .post-block .block-head .autor-info .user-name-wrap .user-activity {
  font-size: 13px;
  letter-spacing: 0.025em;
  color: #66676B;
  margin: 0;
}
.posts-wrapper .right-posts .post-block .block-head .autor-info .user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.posts-wrapper .right-posts .post-block .block-head .show-more-btn {
  width: 40px;
  height: 40px;
  background: #E5E6EB;
  border-radius: 6px;
  border: none;
}
.posts-wrapper .right-posts .post-block .block-content .post-text {
  margin: 0 10px 10px;
}
.posts-wrapper .right-posts .post-block .block-content img {
  width: 100%;
}

#end {
  visibility: hidden;
}/*# sourceMappingURL=style.css.map */